<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />

    <meta name="application-name" content="<%- htmlWebpackPlugin.options.name %>">
    <meta name="description" content="<%- htmlWebpackPlugin.options.description %>">
    <meta name="theme-color" content="#e6e6fa">

    <meta name="apple-mobile-web-app-title" content="<%- htmlWebpackPlugin.options.title %>" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#e6e6fa" />

    <meta name="og:title" property="og:title" content="<%- htmlWebpackPlugin.options.title %>" />
    <meta name="og:type" property="og:type" content="website" />
    <meta name="og:url" property="og:url" content="<%- htmlWebpackPlugin.options.location %>" />
    <meta name="og:description" property="og:description" content="<%- htmlWebpackPlugin.options.description %>" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
